@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="ko" data-ng-app="cafe">
  <head>
    <title>Cafe</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- Style Sheet -->
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href='assets/css/main.css'>
    <link rel="stylesheet" href='assets/css/sidebar.css'>
  </head>
  <body>
    @content
  </body>
</html>
